#jinja2:lstrip_blocks:True
{% set hostname = junos.hostname | lower %}
{% set personality = junos.personality | lower %}
{% if l2_protocols is defined or l2_protocols_common is defined %}
protocols {
    {% if personality == "switch" %}

    {% if l2_protocols.igmp_snoop_vlans is defined %}
    igmp-snooping {
        {% if l2_protocols.igmp_snoop_vlans is string or l2_protocols.igmp_snoop_vlans is number %}
        vlan {{ l2_protocols.igmp_snoop_vlans }};
        {% else %}
        {% for vlan in l2_protocols.igmp_snoop_vlans %}
        vlan {{ vlan }};
        {% endfor %}
        {% endif %}
    }
    {% endif %}

    {% if l2_protocols.layer2_control is defined %}
    layer2-control {
        {% if l2_protocols.nonstop_bridging is defined and l2_protocols.nonstop_bridging == True %}
        nonstop-bridging;
        {% endif %}
        {% if l2_protocols.layer2_control.bpdu_block_timeout is defined %}
        bpdu-block {                        
            disable-timeout {{ l2_protocols.layer2_control.bpdu_block_timeout }};
        }
        {% endif %}
    }
    {% endif %}

    {% if l2_protocols.rstp is defined %}
    rstp {
        {% if l2_protocols.rstp.bridge_priority is defined %}
        bridge-priority {{ l2_protocols.rstp.bridge_priority }};
        {% endif %}
        {% if l2_protocols.rstp.iface_no_stp is defined %}
        {% if l2_protocols.rstp.iface_no_stp is string %}
        interface {{l2_protocols.rstp.iface_no_stp }} {
            disable;
        }
        {% else %}
        {% for iface in l2_protocols.rstp.iface_no_stp %}
        interface {{iface }} {
            disable;
        }
        {% endfor %}
        {% endif %}
        {% endif %}

        {% if l2_protocols.rstp.iface_edge is defined %}
        {% if l2_protocols.rstp.iface_edge is string %}
        interface {{ l2_protocols.rstp.iface_edge }} {
            edge;
        }
        {% else %}
        {% for iface in l2_protocols.rstp.iface_edge %}
        interface {{ iface }} {
            edge;
        }
        {% endfor %}
        {% endif %}
        {% endif %}
        {% if l2_protocols.rstp.iface_no_root is defined %}
        {% if l2_protocols.rstp.iface_no_root is string %}
        interface {{ l2_protocols.rstp.iface_no_root }} {
            no-root-port;
        }
        {% else %}
        {% for iface in l2_protocols.rstp.iface_no_root %}
        interface {{ iface }} {
            no-root-port;
        }
        {% endfor %}
        {% endif %}
        {% endif %}
        {% if l2_protocols.rstp.all_interfaces is defined %}
        {% if l2_protocols.rstp.all_interfaces == True %}
        interface all;
        {% endif %}
        {% endif %}
        bpdu-block-on-edge;
    }
    {% endif %}

    {% if l2_protocols.lldp is defined %}
    lldp {
        {% if l2_protocols.lldp.iface_enabled is string %}
        interface {{ l2_protocols.lldp.iface_enabled }};
        {% else %}
        {% for iface in l2_protocols.lldp.iface_enabled %}
        interface {{iface }};
        {% endfor %}
        {% endif %}
        {% if l2_protocols.lldp.iface_disabled is defined %}
        {% if l2_protocols.lldp.iface_disabled is string %}
        interface {{ l2_protocols.lldp.iface_disabled }} {
            disable;
        }
        {% else %}
        {% for iface in l2_protocols.lldp.iface_disabled %}
        interface {{ iface }} {
            disable;
        }
        {% endfor %}
        {% endif %}
        {% endif %}
    }
    {% endif %}

    {% if "dc1" not in hostname or "dc2" not in hostname %}
    {% if l2_protocols.lldp.med is defined %}
    lldp-med {
        {% if l2_protocols.lldp.med is string %}
        interface {{ l2_protocols.lldp.med }};
        {% else %}
        {% for iface in l2_protocols.lldp.med %}
        interface {{iface }};
        {% endfor %}
        {% endif %}
        }
    {% endif %}
    {% endif %}

{% endif %}


{% if personality != "switch" %}
    lldp {
        {% if l2_protocols.lldp is defined  %}
        {% if l2_protocols.lldp.iface_enabled is string %}
        interface all;
        {% else %}
        {% for iface in l2_protocols.lldp.iface_enabled %}
        interface {{ iface }};
        {% endfor %}
        {% endif %}
        {% if l2_protocols.lldp.iface_disabled is defined %}
        {% if l2_protocols.lldp.iface_disabled is string %}
        interface {{ l2_protocols.lldp.iface_disabled }} {
            disable;
        }
        {% else %}
        {% for iface in l2_protocols.lldp.iface_disabled %}
        interface {{ iface }} {
            disable;
        }
        {% endfor %}
        {% endif %}
        {% endif %}{% endif %}


        {% if l2_protocols_common.lldp is defined  %}
        {% if l2_protocols_common.lldp.iface_enabled is string %}
        interface all;
        {% else %}
        {% for iface in l2_protocols_common.lldp.iface_enabled %}
        interface {{iface }};
        {% endfor %}
        {% endif %}
        {% if l2_protocols_common.lldp.iface_disabled is defined %}
        {% if l2_protocols_common.lldp.iface_disabled is string %}
        interface {{ l2_protocols_common.lldp.iface_disabled }} {
            disable;
        }
        {% else %}
        {% for iface in l2_protocols_common.lldp.iface_disabled %}
        interface {{ iface }} {
            disable;
        }
        {% endfor %}
        {% endif %}
        {% endif %}{% endif %}
    }

    {% if "dc1" not in hostname or "dc2" not in hostname %}
    {% if l2_protocols.lldp.med is defined %}
    lldp-med {
        {% if l2_protocols.lldp.med is string %}
        interface {{ l2_protocols.lldp.med }};
        {% else %}
        {% for iface in l2_protocols.lldp.med %}
        interface {{iface }};
        {% endfor %}
        {% endif %}
    }
    {% endif %}
    {% endif %}
{% endif %}
}
{% endif %}

{% if personality == "switch" %}
{% if poe is defined or poe_common is defined %}
poe {
    {% if poe is defined %}
    {% if poe.interfaces is defined %}
    {% if poe.interfaces is string %}
    interface {{ poe.interfaces }};
    {% else %}
    {% for interface in poe.interfaces %}
    interface {{ interface }};
    {% endfor %}
    {% endif %}
    {% endif %}
    {% endif %}

    {% if poe_common is defined %}
    {% if poe_common.interfaces is defined %}
    {% if poe_common.interfaces is string %}
    interface {{ poe_common.interfaces }};
    {% else %}
    {% for interface in poe_common.interfaces %}
    interface {{ interface }};
    {% endfor %}
    {% endif %}
    {% endif %}
    {% endif %}
}
{% endif %}
{% endif %}
